html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}

img {
  max-width: 100%;
}

#probe-planet {
  max-width: 500px;
  max-height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

#probe-planet svg {
  /* animation: rotate 30s infinite linear; */
  overflow: visible;
}

#probe {
  animation: rotate 30s infinite linear;
  transform-origin: center center;
}

#loading {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: black;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* dashboard */


#dashboard {
  display: grid;
}

.dashboard-element {
  opacity: 0;
  visibility: hidden;
}

#dashboard-side {

}

.status::before {
  content: '';
  background-color: #71FF2E;
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: fade 2s infinite ease-in-out;
  margin-right: 5px;
}

.status {
  display: block
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}



@media only screen and (min-width: 768px) {
  #dashboard-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media only screen and (min-width: 1200px) {
  #dashboard {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-height: 100vh;
  }

  #dashboard-main {
    grid-column: 1 / span 10;
    /* grid-column-start: 1; */
    grid-row-start: 1;
    max-height: 100vh;
    border-right: 1px solid #FFFFFF;
  }

  #dashboard-main > section {
    overflow-y: scroll;
  }

  #dashboard-side {
    grid-column: 11 / span 2;
    /* grid-column-start: 10; */
  }

  #dashboard-side header, #current-position, #logs{
    border-bottom: 1px solid #FFFFFF;
  }

  #webcam {
    border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
  }

  #tbc {
    border-bottom: 1px solid #FFFFFF;
  }

  #position {
    border-right: 1px solid #FFFFFF;
  }

}


