/* typography */

html, body {
  font-family: 'IBM Plex Mono', monospace;
  color: white;
}

h1, h2, h3, h5 {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

p, span, a {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}


@media only screen and (min-width: 768px) {
  h1, h2, h3, h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }

  h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
  }

  p, span, a {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
}