/* typography */

html, body {
  font-family: 'IBM Plex Mono', monospace;
  color: white;
}

h1, h2, h3, h5 {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
}

h4 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 21px;
}

p, span, a {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-green {
  color: #71FF2E;
}

@media only screen and (min-width: 768px) {
  h1, h2, h3, h5 {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.125rem;
  }

  h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.4375rem;
    margin-top: 0px;
  }

  p, span, a {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.125rem;
  }
}